.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(200, 226, 161);
  width: 250px;
  height: 100vh;
  visibility: hidden;

  @media(max-width: 768px) {
    width: 100vw;
  }
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-image: url("assets/menu.png");
  background-size: cover;
  z-index: 1000;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    left: auto;
    right: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px;

  &__users {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
  }

  &__card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    text-align: center;
    background: #f9f9f9;

    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-bottom: 8px;
    }
  }

  &__pagination {
    display: flex;
    gap: 8px;
    justify-content: center;

    button[disabled] {
      background-color: #ccc;
      color: #fff;
      cursor: not-allowed;
    }
  }
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  text-align: center;
  background: #f9f9f9;
}
.user-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}
